In [6]:
#code here

print('== Membuat boidata sederhana dengan menggunakan fungsi input(), dan output variabel dengan menggunakan fungsi format()==')

nama = (input("Masukan nama anda : "))
umur = (input("Masukan Umur : "))
kuliah = (input("Masukan Tempat anda berkuliah : "))
jurusan = (input("Masukan Jurusan anda : "))
kelas = (input("Masukan kelas anda : "))
nim = (input("Masukan NIM : "))
tujuan = (input(f"Apa tujuan anda masuk jurusan {jurusan} ? "))
print('==================================================================================================')

print('''Nama saya {}. Umur {} tahun. 
Saya sedang berkuliah di {}, jurusan {}. Saya berada di kelas {} dengan NIM {}. 
Tujuan saya masuk jurusan {} adalah {}.'''.format(nama,umur,kuliah,jurusan,kelas,nim,jurusan,tujuan))

== Membuat boidata sederhana dengan menggunakan fungsi input(), dan output variabel dengan menggunakan fungsi format()==
Masukan nama anda : Ahmad Rico
Masukan Umur : 21
Masukan Tempat anda berkuliah : Universitas Nusa Putra
Masukan Jurusan anda : Teknik Informatika
Masukan kelas anda : TI22F
Masukan NIM : 20220040100
Apa tujuan anda masuk jurusan Teknik Informatika ?
==================================================================================================
Nama saya Ahmad Rico. Umur 21 tahun.
Saya sedang berkuliah di Universitas Nusa Putra, jurusan Teknik Informatika. Saya berada di kelas TI22F dengan NIM 20220040100.
Tujuan saya masuk jurusan Teknik Informatika adalah .

In [5]:
#code here

kalimat = "UNIVERSITAS NUSA PUTRA SUKABUMI"
kalimat_split = kalimat.split()

#1
print('1.')
print(kalimat[17:22].lower(),kalimat[12:16].lower())

#2
print('2.')
print(kalimat.replace('U',''))

#3
print('3.')
print(kalimat_split[3],kalimat_split[2],kalimat_split[1],kalimat_split[0])

#4
print('4.')
print(kalimat[8:11],kalimat[14:16]+kalimat[17:19],kalimat[-4:])

1.
putra nusa
2.
NIVERSITAS NSA PTRA SKABMI
3.
SUKABUMI PUTRA NUSA UNIVERSITAS
4.
TAS SAPU BUMI